[Unit]
Description=Pico 8 Exit Hotkey service

StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1

ExecStart=/usr/local/bin/pico8keydemon.py

[Install]
WantedBy=multi-user.target

