[Unit]
Description=Solarus Exit Hotkey service

StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1

ExecStart=/usr/local/bin/solarushotkeydemon.py

[Install]
WantedBy=multi-user.target

